[include]
	path = ~/.gitconfig_local

[core]
	excludesfile = ~/.gitignore
	editor = /usr/local/bin/vim

[alias]
  prune = fetch --prune
  stash-all = stash save --include-untracked
  glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

[pager]
  diff = diff-so-fancy | less --tabs=1,5 -RFX
  show = diff-so-fancy | less --tabs=1,5 -RFX
