[include]
	path = ~/.gitconfig_local

[core]
	excludesfile = ~/.gitignore

[alias]
  prune = fetch --prune
  stash-all = stash save --include-untracked
  glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
