"*":
  "":
    yaml:
      text:
        whitespace:
          removeTrailingWhitespace: false
  "atom-material-ui":
    colors:
      abaseColor: "#225262"
    tabs:
      compactTabs: true
    ui:
      panelContrast: true
  "atom-spotify2":
    displayOnLeftSide: false
    showEqualizer: true
  "autocomplete-plus":
    confirmCompletion: "enter"
    useCoreMovementCommands: false
  core:
    disabledPackages: [
      "spell-check"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "cobalt2-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 15
    lineHeight: 2
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 4
    tabType: "soft"
  "exception-reporting":
    userId: "8168b0ab-f987-472c-a4f4-243d257e7cef"
  "gruvbox-plus-syntax":
    contrast: "Soft"
  latex: {}
  "linter-ui-default": {}
  "one-dark-ui":
    hideDockButtons: true
  "one-vibrancy":
    effect: "dark"
  pigments: {}
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.tex.latex"
    ]
    locales: [
      "de-DE"
      "en-US"
    ]
  "tree-view": {}
  typewriter:
    enabledForAllScopes: true
    showGutter: true
  useCustomTitleBar: true
  "vim-mode-plus": {}
  "vim-mode-plus-ex-mode":
    notifiedUseExMode: true
  welcome:
    showOnStartup: false
  whitespace:
    removeTrailingWhitespace: false
